.hello {
  color: black;
  font-size: 28px;
  background-color: grey;
  font-weight: bold;
  text-align: left;
}

.me {
  color: rgb(0, 9, 178);
  font-size: 36px;
  font-weight: bold;
  text-align: left;
}

.bigger {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

