<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Contact website</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>

      <h2 class="hello">Witaj na mojej stronie domowej</h2>
      <img src="../static/smile.jpg" 
        width="400" height="300" alt="witamy">
      <h1 class="me">Kontakt</h1>
        <ul>
          <li>email: dawid.okrojek@gmail.com</li>
          <li>telefon: nie podano :)</li>
        </ul>
      <p class="bigger">Wyślij wiadomość</p>

      <form>

        <textarea id="message" name="message"></textarea>
        <button type="submit">Prześlij</button>

      </form>
      
    </body>
</html>