<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title id="main_title">{{main_title}}</title>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    </head>
    <body>
        <h2 class="hello">Witaj na mojej stronie domowej</h2>
        <img src="{{url_for('static',filename='smile.jpg')}}"
                    width="400" height="300" alt="smile">
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>